/* src/App.css */
:root {
  --primary: #4f46e5;
  --secondary: #04a06c;
  --danger: #a00b0b;
  --bg: #ffffff;
  --text: #082552;
}

/* src/App.css */

/* 1. O Body agora ocupa 100% da altura da tela e centraliza o conteúdo */
body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  display: flex;          /* Ativa o modo flexível */
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;     /* Centraliza na vertical */
  min-height: 100vh;      /* Garante que o fundo tenha no mínimo a altura da tela toda */
}

/* 2. O Container não precisa mais de margin manual, o Flexbox cuida disso */
.container {
  width: 100%;
  max-width: 900px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.1);
}

h1 {
  text-align: center;
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 30px;
}

.card {
  background: #0041824c;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1px solid #d8dde3;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: var(--primary);
  ring: 2px solid var(--primary);
}

button.btn-add {
  background: var(--secondary);
  color: rgba(255, 254, 254, 0.875);
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #0041824c;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #e2e8f0;
}

td {
  padding: 12px;
  border-bottom: 1px solid #f6f8fa;
}

.btn-delete {
  background: var(--danger);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}